* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
p {
    color: white;
}
#screen {
    position: relative;
    border: 2px blue solid;
}

.bar {
    position: relative;
    left: 300px;
    height: 10px;
    background-color: white;
}

#ball {
    position: relative;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 4px;
}
#bottomBar {
    top:540px;
}
#topBar {
    top:30px;
}